/*スマホ用*/
@media screen and (max-width:480px){

  /*ヘッダメニューを非表示*/
  .header-menu{
    visibility: hidden;
  }

  /*ヘッダ高さ調節*/
  .padding-header{
    height: 60px;
  }
  .header_contents{
    height: 60px;
  }

  /*一つずつ縦に並べる*/
  .top_icons{
    text-align:center;
    width: 100%;
    height: auto;
  }

  /*widthを調整*/
  .main_wrapper{
    width:95%;
    max-width: 400px;
    margin: auto;
    display: block;
  }

   /*一つずつ縦に並べる*/
  .second_icons{
    width: 100%;
    padding: 40px 0;
  }

  /*一つずつ縦に並べる*/
  .news-items{
    width: 100%;
  }
}

/*PC用*/
@media screen and (min-width:481px){

  /*ヘッダメニューアイコンを非表示*/
  .header-menu-icon{
    visibility: hidden;
  }

  /*ヘッダ高さ調節*/
  .padding-header{
    height: 101px;
  }
  .header_contents{
    height: 101px;
  }

  /*アイコンを等分割し横並びさせる*/
  .top_icons{
    text-align:center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*widthを調整*/
  .main_wrapper{
    width: 95%;
    max-width: 1120px;
    margin: auto;
    display: block;
  }

  /*アイコンを等分割し横並びさせる*/
  .second_icons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }

  /*アイコンを等分割し横並びさせる*/
  .news-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

}
